@{
    ViewData["Title"] = "Home Page";
}

<body class="homepage">

    <div class="homepic"><img src="https://whileyouwereout.co/wp-content/uploads/2015/06/WYWO-transp.png" /></div>

    


</body>

